<div class="top">
    <button class="logInButton" data-test-id="login" (click)="onLogin()">Login</button>
    <button class="signUpButton" data-test-id="signup" (click)="signUp()">Sign up</button>
</div>
<div class="landing">
    <div class="bottom">
        <div>
            <div class="title-wrapper">
                <div class="static">Start a </div>
                <div class="dynamic"><span class="red">festival</span></div>
            </div>
            <p class="descrip">Pick where you want to see your favorite artists</p>
        </div>
        <div class="circle">
            <img class="peopleImage" alt="app" src="/assets/landing-image.svg"/>
        </div>
    </div>
</div>

<div class="mission" id="mission">
    <h1 class="for-fans">See what we have to offer to fans everywhere:</h1>
    <div class="info">
    <div class="image-2">
        <img class="voice-image" alt="Connect" src="/assets/connect3-img.jpg">
        <div class="voice-image-overlay voice-image-overlay--blur">
            <div class="voice-image-title text-light">Connect</div>
            <p class="voice-image-description text-light">
                We take the connection that you feel with your artists to the next level.
            </p>
        </div>
    </div>
    <div class="image-2">
        <img class="voice-image" alt="Voice" src="/assets/voice1-img.png">
        <div class="voice-image-overlay voice-image-overlay--blur">
            <div class="voice-image-title text-light">Share</div>
            <p class="voice-image-description text-light">
                Share your thoughts to your favorite artists and let them know where you want to see them now!
            </p>
        </div>
    </div>
    <div class="image-2">
        <img class="voice-image" alt="Voice" src="/assets/save6-img.jpg">
        <div class="voice-image-overlay voice-image-overlay--blur">
            <div class="voice-image-title text-light">Pay Less</div>
            <p class="voice-image-description text-light">
                Pay less to see your artists more!
            </p>
        </div>
    </div>
    <div class="image-2">
        <img class="voice-image" alt="Voice" src="/assets/attend4-img.jpg">
        <div class="voice-image-overlay voice-image-overlay--blur">
            <div class="voice-image-title text-light">Attend</div>
            <p class="voice-image-description text-light">
                It's time to attend your favorite artists' performances!
            </p>
        </div>
    </div>
</div>
</div>
<div class="purpose">
    <h1 class="for-artists text-light">See what we have to offer to artists everywhere: </h1>
    <div class="info-artists"></div>
    <div class="demand-card mb-3" style="max-width: 5400px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid demandimage" alt="Demand" src="/assets/attend1-img.jpg">
            </div>
            <div class="col-md-8 textStuff">
                <div class="card-body">
                    <div class="card-title"> See Other Artists </div>
                    <p class="card-text text-light">
                        If you're a fan of other artist, then we have some great news for you! We also provide the opportunity to artists to let other artists know where you want to see them now!
                    </p>
                </div>
            </div>
        </div>
    </div>
        <div class="demand-card mb-3" style="max-width: 4400px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-fluid demandimage" alt="Demand" src="/assets/demand-img.jpg">
                </div>
                <div class="col-md-8 textStuf">
                    <div class="card-body">
                        <div class="card-title"> See Your Demand </div>
                        <p class="card-text text-light">
                            We understand that planning a tour and picking cities can be long and stressful. We are here to make the process easier for you! Find out where your fans want to see you the most and plan your tour accordingly!
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>

