<div class="page">
    <div class="artist_form vstack gap-1">
        <form [formGroup]="artistForm" (ngSubmit)="onSubmit()" data-test-id="performerForm" class="card shadow-2-strong card-registration clearfix" novalidate>
            <h1>Performer Application</h1>

            <div class="row">
                <div class="form-group col-md-6">
                  <label for="fname"><b>First name</b></label>
                  <input
                    type="text"
                    placeholder="Enter First name"
                    name="fname"
                    id="fname"
                    class="form-control text"
                    formControlName="firstname"
                    required
                    data-test-id="firstName"
                  />
                  <div *ngIf="firstname?.invalid && (firstname?.dirty ||firstname?.touched)">
                    <div class="validator" *ngIf="firstname?.errors?.['required']">
                        First Name is required
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="lastname"><b>Last name</b></label>
                  <input
                    type="text"
                    placeholder="Enter Last name"
                    name="lastname"
                    id="lastname"
                    class="form-control text"
                    formControlName="lastname"
                    data-test-id="lastName"
                  />
                  <div *ngIf="lastname?.invalid && (lastname?.dirty ||lastname?.touched)">
                    <div class="validator" *ngIf="lastname?.errors?.['required']">
                        Last Name is required
                    </div>
                  </div>
                </div>
            </div>

            <div class="form-group">
                <label for="stagename"><b>Stage Name</b></label>
                <input
                  type="text"
                  placeholder="Enter Stage Name"
                  name="stagename"
                  id="stagename"
                  formControlName="stagename"
                  class="form-control text"
                  data-test-id="stagename"
                />
                <div *ngIf="stagename?.invalid && (stagename?.dirty ||stagename?.touched)">
                    <div class="validator" *ngIf="stagename?.errors?.['required']">
                        Stage Name is required
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="accountemail"><b>Account Email</b></label>
                <input
                  type="text"
                  placeholder="Enter Email"
                  name="accountemail"
                  id="accountemail"
                  formControlName="accountemail"
                  class="form-control text"
                  data-test-id="accountEmail"
                />
                <div *ngIf="accountemail?.invalid && (accountemail?.dirty ||accountemail?.touched)">
                    <div class="validator" *ngIf="accountemail?.errors?.['required']">
                        Account Email is required
                    </div>
                    <div class="validator" *ngIf="accountemail?.errors?.['email']">
                        invalid email id
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="managementemail"><b>Management Email</b></label>
                <input
                  type="text"
                  placeholder="Enter Email"
                  name="managementemail"
                  id="managementemail"
                  formControlName="managementemail"
                  class="form-control text"
                  data-test-id="managementEmail"
                />
                <div class="validator" *ngIf="managementemail?.errors?.['email']">
                    invalid email id
                </div>
            </div>

            <div class="form-group">
                <label for="phoneno"><b>Phone No.</b></label>
                <input
                type="text"
                placeholder="Enter phone no"
                name="phoneno"
                id="phoneno"
                formControlName="phoneno"
                class="form-control"
                data-test-id="phoneno"
                />
                <div *ngIf="phoneno?.invalid && (phoneno?.dirty ||phoneno?.touched)">
                    <div class="validator" *ngIf="phoneno?.errors?.['required']">
                        Phone Number is required
                    </div>
                    <div class="validator" *ngIf="phoneno?.errors?.['pattern']">
                        Invalid Phone Number
                    </div>
                </div>
            </div>

            <button data-test-id="submit" type="submit" class="btn btn-primary btn-lg btn-block">Register as a Performer</button>
        </form>

        <p class="return">Changed Your Mind? <a [routerLink]="'/dashboard'">Return to app</a></p>
    </div>
</div>